<p id="notice"><%= notice %></p>

<h1>App Configurations</h1>

<table>
  <thead>
    <tr>
      <th>Monitor delay in seconds</th>
      <th>Smtp server</th>
      <th>Smtp port</th>
      <th>Ssl required</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_configurations.each do |app_configuration| %>
      <tr>
        <td><%= app_configuration.monitor_delay_In_seconds %></td>
        <td><%= app_configuration.smtp_server %></td>
        <td><%= app_configuration.smtp_port %></td>
        <td><%= app_configuration.ssl_required %></td>
        <td><%= app_configuration.username %></td>
        <td><%= link_to 'Show', app_configuration %></td>
        <td><%= link_to 'Edit', edit_app_configuration_path(app_configuration) %></td>
        <td><%= link_to 'Destroy', app_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App Configuration', new_app_configuration_path %>
